.editor-post-featured-image:after {
    content: 'Tamanho recomendado 1920 x 850';
}
.post-type-post .editor-post-featured-image:after {
    content: 'Tamanho recomendado 1920 x 525';
}
.post-type-planos .hide-if-no-js:after {
    content: 'Tamanho recomendado 1920 x 1080';
}