.single-post .blog-post .section-text h1, .single-post .blog-post .section-text h2, .single-post .blog-post .section-text h3, .single-post .blog-post .section-text h4, .single-post .blog-post .section-text h5, .single-post .blog-post .section-text h6,
.single-post .blog-post .section-text p,
.page:not(.woocommerce-page) .blog-post .section-text h1,
.page:not(.woocommerce-page) .blog-post .section-text h2,
.page:not(.woocommerce-page) .blog-post .section-text h3,
.page:not(.woocommerce-page) .blog-post .section-text h4,
.page:not(.woocommerce-page) .blog-post .section-text h5,
.page:not(.woocommerce-page) .blog-post .section-text h6,
.page:not(.woocommerce-page) .blog-post .section-text p {
  margin: 0 0 15px;
}

.single-post .blog-post .section-text h1.form-submit, .single-post .blog-post .section-text h2.form-submit, .single-post .blog-post .section-text h3.form-submit, .single-post .blog-post .section-text h4.form-submit, .single-post .blog-post .section-text h5.form-submit, .single-post .blog-post .section-text h6.form-submit,
.single-post .blog-post .section-text p.form-submit,
.page:not(.woocommerce-page) .blog-post .section-text h1.form-submit,
.page:not(.woocommerce-page) .blog-post .section-text h2.form-submit,
.page:not(.woocommerce-page) .blog-post .section-text h3.form-submit,
.page:not(.woocommerce-page) .blog-post .section-text h4.form-submit,
.page:not(.woocommerce-page) .blog-post .section-text h5.form-submit,
.page:not(.woocommerce-page) .blog-post .section-text h6.form-submit,
.page:not(.woocommerce-page) .blog-post .section-text p.form-submit {
  margin: 0 0 10px;
}
.single-post .blog-post .section-text .title-in-content {
    margin-bottom: 0;
  }
.single-post .blog-post .section-comments .hestia-title {
margin-bottom: 30px;
margin-top: 20px;
}
.single-post-wrap .has-small-font-size, .page-content-wrap .has-small-font-size {
    font-size: 13px;
  }
  
  .single-post-wrap .has-medium-font-size, .page-content-wrap .has-medium-font-size {
    font-size: 20px;
  }
  
  .single-post-wrap .has-large-font-size, .page-content-wrap .has-large-font-size {
    font-size: 36px;
  }
  
  .single-post-wrap .has-huge-font-size, .page-content-wrap .has-huge-font-size {
    font-size: 48px;
  }
  .single.single-post .section-blog-info .entry-social {
    margin: 15px 0 30px;
  }
  .single.single-post .section-blog-info .card-profile {
    margin-top: 20px;
  }
  .page .section.section-text {
    padding: 30px 0;
  }
  .single-post .page-header.header-small,
  .page .page-header.header-small,
  .blog .page-header.header-small,
  .archive .page-header.header-small,
  .category .page-header.header-small {
    min-height: 0;
  }
  .single-post .page-header.header-small .container,
  .page .page-header.header-small .container,
  .blog .page-header.header-small .container,
  .archive .page-header.header-small .container,
  .category .page-header.header-small .container {
    padding: 120px 15px 50px;
  }
  .single-post .page-header.header-small .container .hestia-title,
  .page .page-header.header-small .container .hestia-title,
  .blog .page-header.header-small .container .hestia-title,
  .archive .page-header.header-small .container .hestia-title,
  .category .page-header.header-small .container .hestia-title {
    margin-top: 0;
  }
  .blog-post .section-text p,
output {
  line-height: 1.618;
}
.blog-post .comment-reply-link {
    font-size: 12px;
    font-weight: 400;
  }
  
  .blog-post .section-blog-info .card-profile .description {
    font-size: 14px;
  }
  .blog-post {
    word-wrap: break-word;
  }
  
  .blog-post .section-text {
    padding-bottom: 0;
  }
  
  .blog-post .section-text p {
    margin-bottom: 30px;
  }
  
  .blog-post .section-blog-info {
    padding-top: 15px;
  }
  
  .blog-post .section-blog-info .entry-categories span {
    font-size: 10px;
  }
  
  .blog-post .section-blog-info .entry-categories, .blog-post .section-blog-info .entry-tags {
    word-break: break-all;
  }
  
  .blog-post .section-blog-info .entry-categories span, .blog-post .section-blog-info .entry-tags span {
    display: inline-block;
    margin: 5px;
  }
  
  .blog-post .section-blog-info .entry-categories a {
    display: inline-block;
    padding: 2px 2px;
    color: #fff;
  }
  
  .blog-post .section-blog-info .card-profile {
    margin-top: 0;
    text-align: left;
  }
  
  dl dd, pre {
    margin-bottom: 30px;
  }
  
  .alignleft .avatar {
    margin-right: 24px;
  }
  
  .alignright .avatar {
    margin-left: 24px;
  }
  
  img.centered, .aligncenter {
    display: block;
    margin: 0 auto 24px;
  }
  
  img.alignnone {
    margin-bottom: 12px;
  }
  
  .alignleft {
    float: left;
    text-align: left;
  }
  
  .alignright {
    float: right;
    text-align: right;
  }
  
  img.alignleft, .wp-caption.alignleft {
    margin: 0 24px 24px 0;
    margin: 0 2.4rem 2.4rem 0;
  }
  
  img.alignright, .wp-caption.alignright {
    margin: 0 0 24px 24px;
  }
  
  .wp-caption-text {
    padding-top: 10px;
    text-align: center;
  }
  
  .gallery-caption {
    padding-top: 10px;
  }
  
  .gallery .gallery-item {
    padding: 5px;
  }
  
  .gallery img {
    border: none !important;
    border-radius: 6px;
    -webkit-box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  }
  
  .bypostauthor {
    display: block;
  }
  
  .related-posts .hestia-title {
    margin-bottom: 50px;
  }
  
  .related-posts .category a:not(:last-child):after {
    content: ", ";
  }
  
  .single-post .blog-post .section-text .title-in-content {
    margin-bottom: 0;
  }
  
  .blog-post .section-text .author.meta-in-content {
    opacity: .9;
    margin-bottom: 20px;
    font-size: 15px;
  }
  /* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #eee;
	clip: auto !important;
	clip-path: none;
	color: #444;
	display: block;
	font-size: 1em;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}
.single-post-wrap .has-small-font-size, .page-content-wrap .has-small-font-size {
    font-size: 13px;
  }
  
  .single-post-wrap .has-medium-font-size, .page-content-wrap .has-medium-font-size {
    font-size: 20px;
  }
  
  .single-post-wrap .has-large-font-size, .page-content-wrap .has-large-font-size {
    font-size: 36px;
  }
  
  .single-post-wrap .has-huge-font-size, .page-content-wrap .has-huge-font-size {
    font-size: 48px;
  }
  .single-post-wrap:after {
    content: "";
    display: table;
    clear: both;
  }
  .single-post-wrap h1,h1{font-size:42px}
  @media (max-width:768px){.hestia-title.title-in-content{font-size:36px}}.page-content-wrap h2,.single-post-wrap h2,h2{font-size:37px}.page-content-wrap h3,.single-post-wrap h3,h3{font-size:32px}.page-content-wrap h4,.single-post-wrap h4,h4{font-size:27px}.page-content-wrap h5,.single-post-wrap h5,h5{font-size:23px}.page-content-wrap h6,.single-post-wrap h6,h6{font-size:18px}@media (max-width:768px){.page-content-wrap h1,.page-template-template-fullwidth article h1,.single-post-wrap h1,h1{font-size:30px}.page-content-wrap h2,.page-template-template-fullwidth article h2,.single-post-wrap h2,h2{font-size:28px}.page-content-wrap h3,.page-template-template-fullwidth article h3,.single-post-wrap h3,h3{font-size:24px}.page-content-wrap h4,.page-template-template-fullwidth article h4,.single-post-wrap h4,h4{font-size:22px}.page-content-wrap h5,.page-template-template-fullwidth article h5,.single-post-wrap h5,h5{font-size:20px}.page-content-wrap h6,.page-template-template-fullwidth article h6,.single-post-wrap h6,h6{font-size:18px}}.page-content-wrap dl,.page-content-wrap ol,.page-content-wrap p,.page-content-wrap table,.page-content-wrap ul,.page-template-template-fullwidth article dl,.page-template-template-fullwidth article ol,.page-template-template-fullwidth article p,.page-template-template-fullwidth article table,.page-template-template-fullwidth article ul,.single-post-wrap dl,.single-post-wrap ol,.single-post-wrap p,.single-post-wrap table,.single-post-wrap ul{font-size:18px}@media (max-width:768px){.page-content-wrap dl,.page-content-wrap ol,.page-content-wrap p,.page-content-wrap table,.page-content-wrap ul,.page-template-template-fullwidth article dl,.page-template-template-fullwidth article ol,.page-template-template-fullwidth article p,.page-template-template-fullwidth article table,.page-template-template-fullwidth article ul,.single-post-wrap dl,.single-post-wrap ol,.single-post-wrap p,.single-post-wrap table,.single-post-wrap ul{font-size:16px}}
  .blog-post h1, .blog-post h2, .blog-post h3, .blog-post h4{
      font-weight: 500;
  }
  blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #eee;

}