//bootstrap 
@import "bootstrap4.scss";
@import "bootstrap4/mixins";
// Reset
@import "global/reset.scss";
// variables 
@import "global/variables.scss";
//  mixins
@import "global/mixins.scss";
// Fonts
@import "global/font.scss";
// Global CSS
@import "global/global.scss";
// buttons
@import "global/buttons.scss";
// header
@import "structure/header.scss";
// navbar
@import "structure/navbar.scss";
// footer
@import "structure/footer.scss";
// banner
@import "structure/banner.scss";
// // accordion
@import "structure/accordion.scss";
// // about
@import "structure/about.scss";
// // forms

@import "global/forms.scss";

// // plans
@import "structure/plans.scss";

.list_posts{
    @include media-breakpoint-up(lg){
        &#grid_2{
            margin-top: -50px;
        }
    }
    .item:not(:last-child){
        margin-bottom: 3rem !important;
    }
    h2 + p{
        color: #000;
    }
     .img_link:hover{
        opacity: 1;
    }
    h2{

    }
    p{

    }
    
    .item{
        .card{
            .bg_post{
                min-height: 325px;
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
                background-size: cover;
                background-position: center;
            }
            .card-body, .card-header{
                .badge{
                    left: 0;
                    position: absolute;
                    z-index: 9;
                    font-weight: 900;
                    text-transform: uppercase;
                    @include rhythm(14,18);
                    letter-spacing: 0.2em;
                    border-radius: 0;
                    padding: 12px 24px;
                }
                h3{

                }
                .meta{
                    p{

                    }
                    hr{

                    }
                }
                .description{
                    p{

                    }
                }
                .badge{

                }
                img{
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    margin-right: -1px;
                    position: relative;
                }
            }
        }
    }
    &#grid_2{
        .card-header{
            .badge{
                bottom: -18px;
            }
        }
        .item{
            .card{
                .bg_post{
                    border-radius: 0;
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                }
                .card-body{
                    h3{
                        margin-top: 1.2rem !important;
                    }
                }
            }
        }
    }
    .card{
        padding: 0;
        background: #FFFFFF;
        box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        hr{
            background-color: rgba(196, 196, 196, .1);
            height: 1px;
            max-width: 100%;
        }
        .card-header{
            padding: .60rem 1.25rem;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            &.bg_main{
                span{
                    font-weight: 900;
                    @include rhythm(14,18);
                    letter-spacing: 0.2em;
                }
            }
        }
        .card-body{
           
            h3, h3 > a{
                font-weight: 400;
                @include rhythm(28,35);
                color: #000;
                text-decoration: none;
            }
            .meta{
                margin: 1rem 0;
                p, p > a{
                    font-weight: 900;
                    @include rhythm(14,18);
                    color: #AFAFaf; 
                }
            }
            .description{
                p, p > a{
                    text-decoration: none;
                    font-weight: 400;
                    @include rhythm(16,22);
                    color: #4A4A4A;
                }
            }
            #featured_image{
                @include media-breakpoint-up(lg){
                    margin-top: -40px;
                    position: relative;
                }
            }
        }
        .card-footer{
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            margin-bottom: 2rem;
            a{
                font-weight: 400;
                @include rhythm(14,18);
                text-transform: uppercase;
                letter-spacing: 0.1em;
                text-decoration-line: underline;
            }
        }
        img{
            border-radius: 8px;
        }
    }
}
@media screen and (max-width: 767px){
	.btn.col-md-12.btn_default.mt-5{
		margin-top: 0 !important;
	}
	.plans .item:not(:last-child) {
    margin-bottom: 8rem !important;
}
	#accordion h5{
		text-align: center;
	}
}
.plans .item:hover{
	z-index: 99;
	
}
@media screen and (min-width: 992px){
	.plans .btn.btn_first.mt-5 {
    margin-top: 7rem !important;
}
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}
.redes{
    .slick-track{
        align-items: center;
        display: flex;
    }
    .slick-dots{
        position: relative;
        margin-top: 1rem;
    }
    .slick-dots li.slick-active button:before {
        opacity: 1;
        color: #4728ff;
    }
    .slick-dots li button:before{
        font-size: 11px;
    }
}