.bg_about{
    @extend %background_fifth;
}
.map{
    padding: 0;
    img{
        cursor: pointer;
    }
}
@include media-breakpoint-up(md){
    .modal-dialog{
        max-width: 100%;
        margin: 0;
    }
}
.modal_map{
    padding-right: 0 !important;
    .modal-body{
        padding: 0;
    }
    .modal-header {
        @extend %background_third;
        position: absolute;
        right: 0;
        top: 60px;
        z-index: 99999;
        text-align: center;
        border-radius: 0;
        border: none;
        margin: 0 auto;
        padding: 0;
        @include media-breakpoint-down(md){
            top: 0;
        }
        .close, .close:hover{
            opacity: 1;
            color: #fff;
            float: none;
            font-size: 2rem;
            border-radius: 0;
            font-weight: 500;
            // @include media-breakpoint-down(md){
            //     font-size: 3.5rem;
            // }
            text-align: center;
            margin: 0;
            padding: 1rem 2rem;
            &:hover{
                transform: rotate(360deg);
            }
        }
    }
}

.testimonials{
    h2{
        margin-bottom: 40px;
    }
    p > b{
        color: #4728ff;
        font-weight: 700;
        @include rhythm(20, 40);
    }
    .frame{
        ul{
            width: 100% !important;
            display: flex;
            justify-content: space-between !important;
            text-align: center;
            li{
                float: none;
                width: auto;
                background: transparent;
            }
        }   

    }
}
.article{
    .card{
        border-radius: 40px;
        .card-header{
            padding: 0;
            background-position: center;
            background-size: cover;
            height: 195px;
            border-top-left-radius: 40px;
            background-repeat: no-repeat;
            border-top-right-radius: 40px;
        }
        .card-body{
            border-bottom-left-radius: 40px;
            border-bottom-right-radius: 40px;
            p   {
                font-weight: 400;
                font-size: 15px;
                color: #fff;
                padding-top: 2rem;
            }
            h4{
                font-weight: 700;
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 2rem;
            }
            background: #4728ff;
            a, a:hover{
                color: #fff;
                font-size: 18px;
                font-weight: 400;
                padding-bottom: 2rem;
                display: block;
                text-decoration: underline;
            }
        }
    }
}