.main{
    background-size: cover;
    height: auto;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0,  .6);
    @include media-breakpoint-up(md){
        height: 100vh;
        max-height: 850px;
        background-attachment: fixed;
    }
    .align-items-end{
        @include media-breakpoint-up(md){
            h2{
                margin-bottom: 1rem;
            }
        }
        @include media-breakpoint-up(xl){
            h2{
                margin-bottom: 4rem;
            }
        }
    }
    h1, h2, hr, a, a:hover{
        @extend %color_fourth;
    }
    h1{
        @include rhythm(53, 44);
        font-weight: 700;
        & > span{
            @extend %color_secondary;
            @include rhythm(24, 30);
            margin-top: 1rem;
        }
    }
    h2, a{
        @include rhythm(26, 32);
        font-weight: 400;
    }
    hr{
        @extend %auto;
        @include margin_default;
        @include hr($color: #fff, $width: 225px, $height: 2px);
        @include media-breakpoint-up(md){
            @include hr($color: #fff, $width: 305px, $height: 2px);
        }
    }
    a{
        text-decoration: underline;
    }
    &.post{
        max-height: 525px;
        color: #fff;
    }
    &.middle{
        h2{
            @include rhythm(53, 44);
            font-weight: 700;
        }
        h3, h3 a{
            @include rhythm(26, 32);
            font-weight: 400;
            color: #fff;
            margin: 2rem 0;
        }
    }
}
.carousel{
   
    .carousel-item{
        padding: 4rem 0;
        @include media-breakpoint-up(md){
            padding: 4rem 0 8rem 0;
        }
        background-size: cover;
        height: 100vh;
        background-blend-mode: multiply;
        background-color: rgba(0, 0, 0,  .6);
        @include media-breakpoint-up(md){
            height: 100vh;
            max-height: 850px;
            background-attachment: fixed;
        }
        h1, h2, p{
            color: #fff;
            text-align: center;
        }
        h1{
            @include rhythm(53,64);
            font-weight: 700;
            margin-bottom: 30px;
        }
        h2{
            @include rhythm(26,32);
            font-weight: 400;
        }
        p{
            @include media-breakpoint-up(md){
                max-width: 140px;
            }
            margin: 0 auto;
            margin-top: 1rem;
        }
        @include media-breakpoint-down(md){
            background-position: -270px;
            img{
                max-width: 80px;
            }
            p{
                margin-bottom: 1.5rem;
            }
        }
    }
}