footer, .newsletter{
    @extend %background_first;
    h3, p, a, i.fa{
        @extend %color_fourth;
    }
    h3{
        @extend %title_default;
      
    }
    p{
        margin: 30px 0 25px 0;
    }
    ul:not(.nav):not(.dropdown-menu){
        .list-inline-item:not(:last-child){
            margin-right: 1.5em;
        }
        li{
            a{
                span{
                    display: flex;
                    height: 2.345em;
                    line-height: 2em;
                    position: relative;
                    vertical-align: middle;
                    width: 2.345em;
                    align-items: center;
                    margin: 0 auto;
                    border-radius: 50%;
                    border: 1px solid $fourth;
                    text-align: center;
                    i{
                        font-size: 18px;
                        text-align: center;
                        width: 100%;
                        margin: 0 auto;
                    }
                    &:hover{
                        border: 1px solid $secondary;
                        @extend %background_secondary;
                    }
                }
            }
       }
    }
    .navbar{
        margin-bottom: 2rem;
        img{
            filter: brightness(0) invert(1);
        }
        padding: 0;
    }
}
@include media-breakpoint-between(md,lg){
    footer{
        .container{
            max-width: 100%;
            padding: 0 15px;
            .navbar-nav{
                .nav-link{
                    padding-right: .2rem;
                    padding-left: .2rem;
                }
            }
        }        
   }
}