#nav_main {
    @include media-breakpoint-up(md){
        padding: 30px 0;
        &.scrolled{
            padding: 10px 0;
        }
    }
    &.scrolled{
        @extend %background_first;
		transition: padding-top .3s linear, padding-bottom .3s linear;
		img{
            filter: brightness(0) invert(1);
        }
    }
    &.nav-up{
        visibility: hidden;
        opacity: 0;
        transition: opacity .4s ease-in, padding-top  .3s ease-in;
    }
    &.nav-down{
        visibility: visible;
        opacity: 1;
        transition: opacity .4s ease-in, padding-top  .3s ease-in;
	}
    @include media-breakpoint-down(lg){
        background: $third;
        &.scrolled{
            background: $primary;
        }
        padding: 10px 0;
        .navbar-brand{
            all: unset;
            cursor: pointer;
            max-width: 160px;
            margin: 0 auto;
            // margin-left: 30px;
            img{
                margin: 0 auto;
                filter: brightness(0) invert(1); 
                margin-left: -20px;
            }
        }
    }
}
nav{
    li.nav-item{
		padding: 0 .2rem;
		a{
			font-style: normal;
			font-weight: 400;
			font-size: 14px;
			line-height: 20px;
			color: #FFFFFF;
        }
        &.current_page_item{
            a span{
                border-bottom: 1px solid;
            }
        }
    }
}
#nav-icon3{top:6px;width:24px;height:22px;display:inline-block;position:relative;-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);-webkit-transition:.5s ease-in-out;-moz-transition:.5s ease-in-out;-o-transition:.5s ease-in-out;transition:.5s ease-in-out;cursor:pointer;}
#nav-icon3 span{display:block;position:absolute;height:3px;width:100%;background:#414042;border-radius:9px;opacity:1;left:0;-webkit-transform:rotate(0deg);-moz-transform:rotate(0deg);-o-transform:rotate(0deg);transform:rotate(0deg);-webkit-transition:.25s ease-in-out;-moz-transition:.25s ease-in-out;-o-transition:.25s ease-in-out;transition:.25s ease-in-out}
#nav-icon3 span:nth-child(1){top:0}
#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3){top:7px}
#nav-icon3 span:nth-child(4){top:14px}
.nav-open #nav-icon3 span:nth-child(1){top:9px;width:0;left:50%}
.nav-open #nav-icon3 span:nth-child(2){-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
.nav-open #nav-icon3 span:nth-child(3){-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}
.nav-open #nav-icon3 span:nth-child(4){top:9px;width:0;left:50%}
.dropup .dropdown-toggle::after, .dropdown-toggle::after{
    content: none;
}
@include media-breakpoint-down(lg){
    #nav_main .dropdown-menu {
        display: block;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    #nav_main .dropdown-toggle{
        display: none;
    }
    .dropdown-menu{
        background: transparent;
        border: none;
    }
    #nav_main{
        li:not(.dropdown) {
            margin-top: 1.2rem;  
            a{
                // text-transform: uppercase;
                font-size: 20px;
            }
        }

    }
}
.menu-item:hover, .current-menu-item{
    a{
        span{
            border-bottom: 1px solid #fff;
        }
    }
}
@include media-breakpoint-up(lg){
    .dropdown-menu{
        .nav-item{
            text-align: right;
            a{
                color: $third; 
            }
        }
    }
}
.dropdown-toggle{
    #nav-icon-item{
        background: #f3f4f4;
        padding: 4px 16px;
        border-radius: .3rem;
    }
}
.icon-bar {
    width: 30px;
    height: 5px;
    background-color: #fff;
    display: block;
    transition: all .2s;
    margin-top: 4px;
    border-radius: 100px;   
}
.navbar-toggler {
    border: none;
    background: transparent !important;
}
.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}
.navbar-toggler .middle-bar {
    opacity: 0;
}
.navbar-toggler .bottom-bar {
    transform: rotate(-42deg);
    transform-origin: -1% 90%;
}
.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
} 
.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}
@include media-breakpoint-up(md){
    .home{
        #nav_main {
            &.scrolled.v2{
                background: #4728ff;
                transition: padding-top .3s linear, padding-bottom .3s linear;
                img{
                    filter: brightness(0) invert(1);
                }
            }
            &.scrolled.v1{
                background: #fff;
                transition: padding-top .3s linear, padding-bottom .3s linear;
                img{
                    filter: brightness(1) invert(0);
                }
                li.nav-item{
                    padding: 0 .2rem;
                    a{
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        color: #414042;
                    }
                    &.current_page_item{
                        a span{
                            border-bottom: 1px solid;
                        }
                    }
                }
            }
        }
    }
}