
.newsletter{
    .form-control, .form-control:focus{
        background: transparent;
        border-radius: 29.5px;
        @extend %color_fourth;
        @include rhythm(16, 25);   
    }
    input{
        @include placeholder {
            color: #fff;
            @include rhythm(16, 25);
        }
        padding: 13.6px 20px;
    }
    input[type="submit"]{
        @extend %background_secondary;
        @extend %color_first;
        border-radius: 29.5px;
        @include rhythm(16, 25);
        width: 100%;
        border: 1px solid $secondary;
        padding: 13.6px 20px;
        &:hover, &:focus{
            @extend %background_first;
            @extend %color_secondary;
        }
    }
}
.content{
    .form-control{
        border: none;
        border-radius: 0;
        border-bottom: 3px solid #f3f4f4;
        color: #949494;
        @include rhythm(21, 25);
    }
    input{
        @include placeholder {
            color: #949494;
            @include rhythm(21, 25);
        }
        padding: 9.6px 20px;
    }
    input[type="submit"]{
        margin-top: 2rem;
        padding: 19.5px 50px;
    }
}