a{
    color: $primary;
    transition: .3s ease all;
    font-weight: 700;
    &:hover{
        transition: .3s ease all;
        color: darken($first,15%);
    }
}
@include media-breakpoint-down(sm){
    *{
        font-size: 14px;
    }
}
:focus{outline: none; box-shadow:none!important;}
hr{
    border-top: none;
}

// div[class*='col-']:not(:last-child) {
//     margin-bottom: 2rem; 
//     @media screen and (min-width: 992px){
//         margin-bottom: 0;
//     }
// }
section{
    padding: $padding-default;
}

hr {
    @extend %hr;
    @extend %auto;
}
p, p > b, p > span, .card-body, p > a{
    @extend %text_default;
    & + p {
        margin-top: $margin_default;
    }
}
p > b{
    font-weight: 700;
}
p > a{
    text-decoration: underline;
    &:hover{
        @extend %color_first;
        text-decoration: underline;
    }
}
a:not(.navbar-brand){
    > img {
        @include media-breakpoint-down(md){
            margin-top: $margin_default;
        }
        & + p{
            margin-top: ($margin_default/2);
        }
    }
    &:hover{
        text-decoration: none;
        p, p > b{
            @extend %color_first;
        }
    }
}
h2, h2 span, h2 b{
    @extend %title_default;
    @extend %color_third;
}
h2 + p{
    margin: 30px 0;
}
@include media-breakpoint-down(lg){
    body{
        padding-top: 60px;
    }
}
.bg_procedures, .testimonials{
    @extend %background_fifth;
}