// Mixins
%font_1{
    font-family: 'Signika', sans-serif;
}
$margin_default: 32.5px;

//font size 
@mixin font-size($sizeValue: 16 ){
    font-size: $sizeValue + px; //fallback for old browsers
    font-size: (0.0625 * $sizeValue) + rem;
}
  
@mixin line-height($heightValue: 20 ){
    line-height: $heightValue + px; //fallback for old browsers
    line-height: (0.0625 * $heightValue) + rem;
}
  
@mixin rhythm($sizeValue: 16, $heightValue: 20) {
    @include font-size($sizeValue);
    @include line-height($heightValue);
}
@mixin hr($color: $first, $width: 30px, $height: 8px){
    color:$color;
    background-color:$color;
    height: $height;
    width: $width;
}
@mixin btn($color: $first, $background: $second, $colorHover: $first, $bgHover: $first, $padding: 22px 35px){
    color: $color;
    border-color: $color;
    background: $background;
    padding: $padding;
    &:hover, &:focus, &:active, &:not(:disabled):not(.disabled):active{
        color: $colorHover;
        border-color: $color;
        background: $bgHover;
    }
}
@mixin margin_default {
    margin-top: 25px;
    margin-bottom: 25px;
    @include media-breakpoint-up(md){
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

%text_default{
    letter-spacing: 0em;
    font-style: normal;
    font-weight: 400;
    @extend %color_third;
    @include rhythm(21, 26);
}

%title_default{
    @include rhythm(40, 44);
    font-weight: 700;
    @include media-breakpoint-down(lg){
        @include rhythm(35, 39);

    }
}

%hr{
    border-radius: $border-radius-default;
}
%auto{
    margin: 0 auto;
}
%opacity{
    transition: opacity .3s;
}
%margin_default_numbers{
    margin-top: 28px;
}
%margin_default_footer{
    margin-top: 43px;
}
%color_first{
    color: $first;
}
%color_secondary{
    color: $secondary;
}
%color_third{
    color: $third;
}
%color_fourth{
    color: $fourth;
}
%background_first{
    background: $first;
}
%background_secondary{
    background: $secondary;
}
%background_third{
    background: $third;
}
%background_fifth{
    background: $fifth;
}
//btn 
%btn{
    border-radius: $border-radius-default;
    font-style: normal;
    font-weight: 700;
    @include rhythm(20, 20);
    text-align: center;
    border-width: 2px;
    border-style: solid;
   
}


//placeholders
@mixin placeholder {
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}  
}